<!DOCTYPE html>
<html lang="en">
<head>
  <title>Todo Lists</title>
  <h1>My Lists</h1>
<nav>  
  <a href="{% url 'todo_list_create' %}"> Create a new list</a>
  <a href="{% url 'todo_item_create' %}"> Create a  Item</a>
</nav>

</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of items</th>
      </tr>
    </thead>
      {% for list in todolist_lists %}
        <tr>
          <td>
            <a href="{% url 'todo_list_detail' list.id %}"> {{list.name}}</a>
          </td>
          <td>{{ list.items.all|length }}</td>
        </tr>
      {% endfor %}
  </table>
</body>

</html>
