<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Submit</button>
        </form>
  </main>
</html>
